:root {
  --spacer: 1rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f1f;
}

#deadnet{
  color: #ffffd7;
  font-size: 1rem;
  text-shadow: 
        1px 1px 1px #880808,
        2px 2px 2px #880808,
        3px 3px 3px #880808,
        4px 4px 4px #880808,
        5px 5px 5px #880808,
        6px 6px 6px #880808,
        7px 7px 7px #880808,
        8px 8px 8px #880808;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

#password{
  color: #61DE2A;
}

label{
  color: #61DE2A;
  font-size: 1.5rem;
  font-family: 'Pixel Operator SC';
}

input{
  margin-bottom: 0.5rem;
  font-family: 'Pixel Operator SC';
  color: #61DE2A;
  border-radius: 0.2rem;
  border-color: #1f1f1f;
  font-size: 1.65rem;
  padding: 0.5;
  transition: all 0.3s ease;
  background-color: #18453b;
  cursor: text;
}


input::selection{
  background-color: #408622;
}

input:focus,
button:focus{
  outline: none;
}

input:hover,
input:focus{
  box-shadow: -3px 3px #1f1f1f, 0 0 10px rgba(97, 222, 42, 0.8)
}

input:active{
  transform: translateY(2px);
  box-shadow: 0 0 20px rgba(97, 222, 42, 0.8);
}

button{
  font-family: 'Pixel Operator SC';
  font-size: 1.6rem;
  padding: 0.2rem 5.2rem;
  margin-top: 0.5rem;
  color: #1f1f1f;
  background-color: #61DE2A;
  border-radius: 0.2rem;
  border-color: #1f1f1f;
  transition: all 0.3s ease;
  animation: sending-animation 1s infinite;
}

button:hover,
button:focus{
  box-shadow: -3px 3px #1f1f1f, 0 0 10px rgba(97, 222, 42, 0.8);
}

button:active{
  transform: translateY(2px);
  animation: glitch-effect 0.3s linear;
  box-shadow: 0 0 20px rgba(97, 222, 42, 0.8);
}

button:not(:focus):not(:active){
  animation: glitch-effect-continuous 0.5s infinite;
}

@keyframes glitch-effect {
  0%{
    transform: translate(0, 0);
  }
  20%{
    transform: translate(-4px, 4px);
  }
  40%{
    transform: translate(5px, -5px);
  }
  60%{
    transform: translate(-6px, 6px);
  }
  80%{
    transform: translate(8px, -8px);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes glitch-effect-continuous {
  0% {
    transform: translate(0, 0);
  }
  2% {
    transform: translate(-2px, -2px);
  }
  4% {
    transform: translate(2px, 2px);
  }
  6% {
    transform: translate(-2px, 2px);
  }
  8% {
    transform: translate(2px, -2px);
  }
  10% {
    transform: translate(0, 0);
  }
  90% {
    transform: translate(0, 0);
  }
  92% {
    transform: translate(-2px, -2px);
  }
  94% {
    transform: translate(2px, 2px);
  }
  96% {
    transform: translate(-2px, 2px);
  }
  98% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes blink {
  50%{
    opacity: 0;
  }
}

@keyframes sending-animation {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0.5;
    transform: translateX(50%);
  }
}